
//variables

$color-primary:#777;
$color-secondary:#58e1c1;
$color-triciary:#51ddfc;
$white:#fff;
$button-color: #51ddfc;
$button-color-light:lighten($button-color, 15);

$font-stack-primary: 'Lato', sans-serif;
$font-h4: bold;


$break-m: 768px;

